<!-- start footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12  col-lg-4">
        <div data-aos="fade-left"
        data-aos-anchor-placement="center-bottom" data-aos-duration="1200" data-aos-delay="500" class="site-info">
          <h2>DAR AL MUBTAKER</h2>
          <div class=" col-lg-12 ">
            <img src="../../../img/logo-1.png" width="80px">
            <!-- <img src="../../../img/Untitled-2.png" width="90px"  alt=""> -->
            <p>DAR AL MUBTAKER is an emerging company which is dealing in TELECOM
              solutions & services sectors in the Kingdom of Saudi Arabia
              offering a high quality products & services.</p>

          </div>

          <!-- <div class="marquee">
            <ul class="marquee-content">
              <li><img src="http://www.mubtaker.com.sa/images/slider/ericsson.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/Panasonic.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/aastra.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/alcatel.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/at&t.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/avaya.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/cisco.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/mitel.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/nec.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/alcatel-lucent.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/nortel.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/philips.jpg" alt=""></li>
              <li><img src="http://www.mubtaker.com.sa/images/slider/siemens.jpg" alt=""></li>
            </ul>
          </div> -->


        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div data-aos="fade-left"
        data-aos-anchor-placement="center-bottom" data-aos-duration="1200" data-aos-delay="500" class="helpful-links">
          <h2>Helpful links </h2>
          <span class="double-border"></span>
          <div class="row">
            <div class="col">
              <ul class="list-unstyled">
                <li><a href="/about">About</a> </li>
                <li><a href="/products">Products</a> </li>
                <li><a href="/services">Services</a> </li>
                <li><a href="/billing">Billing Software</a></li>
              </ul>
            </div>

          </div>

        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div data-aos="fade-left"
        data-aos-anchor-placement="center-bottom" data-aos-duration="1200" data-aos-delay="500" class="contact">
           <h2>Contact Us</h2>
           <ul class="list-unstyled">
            <li style="text-transform:capitalize ;"><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>  DAR AL MUBTAKER TELECOM
              OFFICE NO:321 A, 3RD FLOOR, AKARIA NO:2, OLAYYA, RIYADH, SAUDI ARABIA</li>
            <li><i class="fa fa-phone mr-2" aria-hidden="true"></i> Phone:+966 1 4191091 </li>
            <li><i class="fa fa-fax mr-2" aria-hidden="true"></i>  Fax:+966 1 4191091 EXT 216 </li>


           </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->

<!-- start copyright -->
<!-- <div class="copyright ">
  <div class="container ">
    <div class="row text-center ">
      <div class="col-sm-6 text-uppercase copy">
        &copy; 2022 Dar Al Mubtaker All rights reserved
      </div>
      <div class="col-sm-6 text-center text-sm-right">
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/%D8%AF%D8%A7%D8%B1-%D8%A7%D9%84%D9%85%D8%A8%D8%AA%D9%83%D8%B1-%D9%84%D9%84%D8%A7%D8%AA%D8%B5%D8%A7%D9%84%D8%A7%D8%AA-Dar-Al-Mubtaker-Telecom-234343776689425/"><i class="fa fa-facebook"></i>  </a>
          </li>
          <li><a href="mailto: dmt@mubtaker.com.sa?subject=contact"> <i class="fa fa-envelope mr-2" aria-hidden="true"></i></a> </li>
          <li>
            <a href="#"><i class="fa fa-whatsapp"></i></a>
          </li>

        </ul>
      </div>

    </div>
  </div>
</div> -->
<!-- end copyright -->
