<!-- start features -->
<div id="features" class="features text-center">
  <div class="container">
    <h2 class=" h1 text-center">Our Services</h2>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <i class="fa fa-heart fa-3x rounded-circle"></i>
        <h3>Great Idea</h3>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem dolore veniam tempora quidem praesentium.</p>
      </div>
      <div class="col-sm-6 col-lg-3">
        <i class="fa fa-cogs fa-3x rounded-circle"></i>
        <h3>Quick Settings</h3>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem dolore veniam tempora quidem praesentium.</p>
      </div>
      <div class="col-sm-6 col-lg-3">
        <i class="fa fa-cloud fa-3x rounded-circle"></i>
        <h3>Cloud Services</h3>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem dolore veniam tempora quidem praesentium.</p>
      </div>
      <div class="col-sm-6 col-lg-3">
        <i class="fa fa-bookmark fa-3x rounded-circle"></i>
        <h3>Cross Dev</h3>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem dolore veniam tempora quidem praesentium.</p>
      </div>
    </div>
  </div>
</div>

<!-- end features -->
