<!-- start why choose us -->
<div id="choose" class="choose-us">
  <div class="container-fluid">
    <div class="row">
      <div class="info col-lg-6">
         <img src="../../../img/5f19998c2a1d3202007231607082.jpg" alt="" >
      </div>
      <div class="info col-lg-6">
         <h2 class="h1">Why Choose Us</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae illo ut maxime doloribus! Ex officiis delectus doloremque adipisci maxime, itaque, ad molestias blanditiis aliquid omnis corporis nisi mollitia sequi minus!</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nobis expedita amet nam sequi provident mollitia sit iure repellat laboriosam.</p>
         <a href="#" class="read-more">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- end why choose us -->
