<div class="billing">
  <div class="container">
    <h2>TELETIGER  Billing  Software  Solutions</h2>
    <div class="row">
      <div class="col-lg-12  info">
        <p>
          TeleTiger  is a Telephone Cost Management System (TCMS), sometimes called a Call Accounting System (CAS).
        </p>
        <p>
          Your company’s private telephone exchange (PABX) sends basic information to TeleTiger  about telephone calls that have been made. TeleTiger  calculates additional information — such as the cost of the calls and to whom they should be charged — and places the data in a database.
        </p>
        <p>
          Time and date of calls, Duration and cost of the call,  Number dialed,  Which telephone set and which line was used, You can recall this information whenever you wish in the form of a report. Look this report on the monitor screen or send to printer for hard copy
        </p>
      </div>



    </div>
  </div>
</div>

<!-- start clients -->
<div  class="our-clients">
  <div class="container">
    <div class="classs">
      <ul class="list-unstyled ">

        <li >
          <img class="img-responsive center-block" src="http://www.mubtaker.com.sa/images/slider/philips.jpg" alt="Acc">
        </li>
        <li >
          <img class="img-responsive center-block" src="http://www.mubtaker.com.sa/images/slider/siemens.jpg" alt="Bcc">
        </li>
        <li >
          <img class="img-responsive center-block" src="http://www.mubtaker.com.sa/images/slider/aastra.jpg" alt="Dcc">
        </li>
        <li >
          <img class="img-responsive center-block" src="http://www.mubtaker.com.sa/images/slider/alcatel.jpg" alt="Ncc">
        </li>
        <li >
          <img class="img-responsive center-block" src="http://www.mubtaker.com.sa/images/slider/at&t.jpg" alt="Wcc">
        </li>
        <li >
          <img class="img-responsive center-block" src="http://www.mubtaker.com.sa/images/slider/cisco.jpg" alt="Kcc">
        </li>
        <li >
          <img class="img-responsive center-block" src="http://www.mubtaker.com.sa/images/slider/mitel.jpg" alt="Kcc">
        </li>
        <li >
          <img class="img-responsive center-block" src="http://www.mubtaker.com.sa/images/slider/nec.jpg" alt="Kcc">
        </li>
        <li >
          <img class="img-responsive center-block" src="http://www.mubtaker.com.sa/images/slider/Panasonic.jpg" alt="Kcc">
        </li>


      </ul>



    </div>
  </div>
</div>

