<!-- start table-prices -->

<div id="price" class="table-prices text-center ">
  <div class="container">
    <h2 class="wow animate__fadeInUp" data-wow-duration="2s">Pricing Table</h2>
    <p class="descrption ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam velit ipsum officia. Perferendis repellendus quas ab modi cupiditate possimus placeat dolore, quos voluptatum qui minima asperiores animi, voluptatibus illo mollitia!</p>
    <div class="row">

      <div class="col-md-6 col-lg-4">
        <div class="card " >
          <div class="card-body wow animate__fadeInUp" data-wow-duration="2s">
            <h4 class="card-title">Small Business</h4>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
            <p class=" card-text">$99/<span>Year</span></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
            </ul>
            <a href="#" class="card-link">Read More</a>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4">
        <div class="card corporate" >
          <div class="card-body">
            <h4 class="card-title">Corporate</h4>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
            <p class=" card-text">$199/<span>Year</span></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
            </ul>
            <a href="#" class="card-link">Read More</a>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4">
        <div class="card " >
          <div class="card-body">
            <h4 class="card-title">Enterprise</h4>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
            <p class="  card-text">$299/<span>Year</span></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
              <li class="list-group-item">Lorem Ipsum</li>
            </ul>
            <a href="#" class="card-link">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- end table prices -->

