<div class="services">
  <div class="container">
    <h2>Our Services</h2>
    <div class="row">
      <div class="col-lg-12 ">
        <p>
          Installation services offered range from simple moves and changes, through to complete system supply and implementation. Maintenance services can be provided for a wide range of telephone systems.
        </p>
        <p>
          We at DAR AL MUBTAKER have conceptualized the benefit of integrating our product solutions with our service. With our global leadership and in depth understanding of telecom industry, we offer our quality services whether be it a site optimization, installation and commission or project management services. With our focus on the telecom domain, our service network and technical expertise help you to build or manage critical and challenging telecom sites.
        </p>
        <p>
          The main activities of Dar Al Mubtaker is operation &amp; maintenance of telecom infrastructures.
        </p>
      </div>
      <div class="col-lg-4 item">
        <i class="fa fa-wifi fa-3x" aria-hidden="true"></i>
        <h4>Network Design & Planning</h4>
      </div>
      <div class="col-lg-4 item">
        <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
        <h4>Systems Engineering and Integration</h4>
      </div>
      <div class="col-lg-4 item">
        <i class="fa fa-download fa-3x" aria-hidden="true"></i>
        <h4>Installation, Testing & Commissioning.</h4>
      </div>
      <div class="col-lg-4 item">
        <i class="fa fa-spinner fa-3x" aria-hidden="true"></i>
        <h4>Operations & Maintenance</h4>
      </div>
      <div class="col-lg-4 item">
        <i class="fa fa-laptop fa-3x" aria-hidden="true"></i>
        <h4>Applications & Solutions</h4>
      </div>
      <div class="col-lg-4 item">
        <i class="fa fa-wrench fa-3x" aria-hidden="true"></i>
        <h4>Maintenance of small & medium enterprises system</h4>
      </div>


    </div>
  </div>
</div>
