<!-- start copyright -->
<div class="copyright ">
  <div class="container ">
    <div class="row text-center ">
      <div class="col-sm-6 text-capitalize copy">
        &copy; 2022 Dar Al Mubtaker All rights reserved
      </div>
      <div class="col-sm-6 text-center text-sm-right">
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/%D8%AF%D8%A7%D8%B1-%D8%A7%D9%84%D9%85%D8%A8%D8%AA%D9%83%D8%B1-%D9%84%D9%84%D8%A7%D8%AA%D8%B5%D8%A7%D9%84%D8%A7%D8%AA-Dar-Al-Mubtaker-Telecom-234343776689425/"><i class="fa fa-facebook"></i>  </a>
          </li>
          <li><a href="mailto: dmt@mubtaker.com.sa?subject=contact"> <i class="fa fa-envelope mr-2" aria-hidden="true"></i></a> </li>
          <li>
            <a href="#"><i class="fa fa-whatsapp"></i></a>
          </li>
          <!-- <li>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li> -->
        </ul>
      </div>

    </div>
  </div>
</div>
<!-- end copyright -->
