<!-- start testimonials -->
<div id="test" class="testimonials">
  <div class="overlay">
    <h1 class="text-center">What Our Clients Say </h1></div>


  <div class="container">
      <div id="testimonials" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#testimonials" data-slide-to="0" class="active"></li>
          <li data-target="#testimonials" data-slide-to="1"></li>
          <li data-target="#testimonials" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption d-none d-block">
              <img src="../../../img/1.png" class="  w-25" alt="...">
              <h3>Ahmed Khaled</h3>
              <span>Free Lancer</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Ad illo quibusdam tenetur deleniti! Veritatis inventore.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-none d-block">
              <img src="../../../img/2.png" class="   w-25" alt="...">
              <h3>Nora Mohamed</h3>
              <span>Web designer</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Ad illo quibusdam tenetur deleniti! Veritatis inventore.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-none d-block">
              <img src="../../../img/3.png" class="  w-25" alt="...">
              <h3>Islam Ibrahim</h3>
              <span>App Developer</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Ad illo quibusdam tenetur deleniti! Veritatis inventore.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#testimonials" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#testimonials" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
  </div>
</div>
<!-- end testimonials -->
