<!-- start statistics -->
<div id="statis" class="stats text-center">
  <div class="container">
    <div class="row">
          <div class="col-sm-6 col-lg-3">
              <div data-wow-duration="3s" class="stats-box wow animate__fadeInUp ">
                <i class="fa fa-user fa-fw fa-5x"></i>
                <span class="number1">624</span>
                <p> Happy Clients </p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="stats-box wow animate__fadeInUp ">
              <i class="fa fa-pagelines fa-fw fa-5x"></i>
              <span class="number2">112</span>
              <p>Amazing Tours </p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="stats-box animate__fadeInUp ">
              <i class="fa fa-briefcase fa-fw fa-5x"></i>
              <span class="number3">595</span>
              <p>Partners </p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="stats-box animate__fadeInUp ">
              <i class="fa fa-comments fa-fw fa-5x"></i>
              <span class="number4">50</span>
              <p> Questions </p>
            </div>
          </div>
    </div>
  </div>
</div>
<!-- end statistics -->
